body {
    font-family: sans-serif;
}


/*からnavファイル内*/

.title {
    font-size: 36px;
    text-decoration: none;
    color: #000000;
}

.link {
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

#status {
    font-size: 16px;
}

/*までnavファイル内*/



.subtitle {
    font-size: 18px;
    padding: 4px 6px;
    border-left: 4px solid #00dba0;
    background-color: #f2f2f2;
    color: #333;
}
