body {
font-family: sans-serif;
}

.titlearea {
display: flex;
height: 72px;
                align-items: flex-end;
                gap: 12px;
            }

            .menu {
                background: transparent;
                color: #0088ff;
                border: 2px solid #0088ff;
                font-size: 16px;
                border-radius: 8px;
                text-decoration: none;
                width: 96px;
                height: 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            .title {
                font-size: 36px;
            }

            .subtitle {
                font-size: 18px;
                padding: 4px 6px;
                border-left: 4px solid #00dba0;
                background-color: #f2f2f2;
                color: #333;
            }
