body {
    font-family: sans-serif;
}


/*からnavファイル内*/


.menu {
    position:fixed;
    top:0;
    left:-100%;
    width: 300px;
    height: 100%;
    background-color: #fafad2;
    color: #333333;
    transition: right 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
}

/* メニューが開いているとき */
.menu.open {
    left: 0;
}

/* ボタンのスタイル */
.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューリストのスタイル */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
}

.menu li {
    padding: 20px 0;
    border-bottom: 1px solid #444;
}

.menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.title {
    font-size: 36px;
    position: fixed;
    top: 20px;
    left: 70px;
}



/*までnavファイル内*/



.subtitle {
    font-size: 18px;
    padding: 4px 6px;
    border-left: 4px solid #00dba0;
    background-color: #f2f2f2;
    color: #333;
}
