<nav class="menu">
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <a href="{{ site.baseurl }}">ホーム</a>
    <a href="{{ site.baseurl }}/blog">ブログ</a>
    <a href="{{ site.baseurl }}/login">ログイン</a>
</nav>

<p class="title">鉄道の楽園</p>

<script>
    $(function() {
        $('.hamburger').click(function() {
            // メニューの開閉状態を切り替える
            $('.menu').toggleClass('open');
            
            // ハンバーガーボタンのアクティブクラスを切り替えて三本線をバツにする
            $(this).toggleClass('active');
        });
    });
</script>
