<nav id="menu" class="menu">
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul>
        <li><a href="{{ site.baseurl }}/blog">ブログ</a></li>
        <li><a href="{{ site.baseurl }}/login">ログイン</a></li>
    </ul>
</nav>
<a class="title" href="{{ site.baseurl }}">鉄道の楽園</a>

<script>
    function toggleMenu() {
        const menu = document.getElementById('menu');
        const trigger = document.querySelector('.hamburger');
        menu.classList.toggle('open');
        trigger.classList.toggle('active');
    }
</script>
