---
layout: null
---

<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/trainparadise/style.css">
        <meta name="google-site-verification" content="rAYISQcH1bzSQPNmiCtOwtCLzS3yAo7V0TTpKUAZxRA" />
    </head>

    <body>
        {% include nav.html %}
        
        <main>
            {{ content }}
        </main>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                auth.onAuthStateChanged((user) => {
                    const statusEl = document.getElementById("status");
                    if (!statusEl) return;
                    
                    if (user) {
                        statusEl.textContent = "ログイン中: " + user.email;
                    } else {
                        statusEl.textContent = "未ログイン";
                    }
                })
            });
        </script>
    </body>
</html>
