---
layout: null
---

<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/trainparadise/style.css">
        <meta name="google-site-verification" content="rAYISQcH1bzSQPNmiCtOwtCLzS3yAo7V0TTpKUAZxRA" />
    </head>

    <body>
        {% include nav.html %}
        
        <main>
            {{ content }}
        </main>

        <script>
            auth.onAuthStateChanged((user) => {
                if (user) {
                    document.getElementById("status").textContent =
                        "ログイン中: " + user.email;
                } else {
                    document.getElementById("status").textContent = "未ログイン";
                }
            });
        </script>
    </body>
</html>
